<script src="/js/script.js"></script>
<!-- <script>
    document.addEventListener('DOMContentLoaded', () => {
            const notification = document.getElementById('notification');
            if (notification) {
                setTimeout(() => {
                    notification.style.display = 'none';
                }, 4000);
            }
        });
</script> -->
</body>
</html>